<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logisticamensajeria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EditarEmpleado" />
        <activity android:name=".DetalleEmpleado" />
        <activity android:name=".ListadoEmpleados" />
        <activity android:name=".AgregarVerEmpleados" />
        <activity android:name=".ModificarClientes" />
        <activity android:name=".ListadoClientes" />
        <activity android:name=".AbmClientes" />
        <activity android:name=".Viajes" />
        <activity android:name=".EmpleadosForm" />
        <activity android:name=".ClientesForm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>