<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logisticamensajeria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Viajes.EditarViaje"></activity>
        <activity android:name=".Viajes.DetalleViaje" />
        <activity android:name=".Viajes.ListadoViajes" />
        <activity android:name=".Viajes.ViajesForm" />
        <activity android:name=".Viajes.AgregarVerViajes" />

        <activity android:name=".Clientes.DetalleCliente" />
        <activity android:name=".Clientes.ClientesForm" />
        <activity android:name=".Clientes.ListadoClientes" />
        <activity android:name=".Clientes.AgregarVerClientes" />
        <activity android:name=".Clientes.EditarCliente" />

        <activity android:name=".Empleados.EditarEmpleado" />
        <activity android:name=".Empleados.DetalleEmpleado" />
        <activity android:name=".Empleados.ListadoEmpleados" />
        <activity android:name=".Empleados.AgregarVerEmpleados" />
        <activity android:name=".Empleados.EmpleadosForm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>